[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious

[submodule "lain"]
	path = lain
	url = git://github.com/copycat-killer/lain.git

[submodule "awesome-copycats"]
	path = .
	url = https://github.com/copycat-killer/awesome-copycats.git
